.main
  .main__header
    .main__header--left
      .group__name
        = @group.name 
      .group__member
        Member :
        -@group.users.each do |user|
          = user.name
    = link_to edit_group_path(@group.id), class: "edit__btn" do
      .main__header--right
        Edit
  .main__chat
    = render @messages
  .main__footer    
    = form_for [@group, @message] do |f|
      .form
        .input__box
          = f.text_field :content, class: 'message__form', placeholder: 'type a message'
          = f.label :image, class: 'image__icon' do
            = icon('fas', 'image', class: 'icon')
            = f.file_field :image, class: 'image__btn'
        = f.submit 'Send', class: 'send__btn'